.swiper__image{
	height: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper__caption{
	position: absolute;
	top: 50%;
	margin: 0 4em;
	right: 0;
	transform: translate(0,-50%);
	background: rgba(255,255,255,0.9);
	padding: 1em;
	border-radius: 0.5em;
}

.swiper__caption--left{
	right: initial;
	left: 0;
}

.swiper__button{
	margin-top:1em;
}

.swiper__title{
	margin-bottom: 1rem;
}

@media (max-width: 450px){
	.swiper-button-next,.swiper-button-prev{
		display: none !important;
	}
	.swiper__caption{
		margin: 0 1em;
	}
}
