{% extends '../origin/base.html' %}
{% load static %}
{% load clinic_tags %}
{% block title %}
Mutlu insanlar
{% endblock %}
{% block content %}
<div class="content">
    <div class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">
                        <h2><span>4 Columns</span> Gallery</h2>
                        <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut volutpat eros adipiscing nonummy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="main-gallery">
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox photo-icon" href="{% static 'images/gallery/img1.jpg' %}" data-fancybox-group="gallery">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img1.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-image2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Operation Theater</h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img2.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-video2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Kids Treatment</h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img3.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-video2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Medical Record </h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox photo-icon" href="{% static 'images/gallery/img4.jpg' %}" data-fancybox-group="gallery">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img4.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-image2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Dental Treatment</h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img5.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-video2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Advanced Lab</h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox photo-icon" href="{% static 'images/gallery/img6.jpg' %}" data-fancybox-group="gallery">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img6.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-image2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Skin Counseling</h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox photo-icon" href="{% static 'images/gallery/img7.jpg' %}" data-fancybox-group="gallery">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img7.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-image2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Well Trained Staff</h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="gallery-sec fancybox-media video-icon" href="http://vimeo.com/36031564">
                            <div class="image-hover img-layer-slide-left-right">
                                <img src="{% static 'images/gallery/img8.jpg' %}" alt="">
                                <div class="layer"> <i class="icon-video2"></i> </div>
                            </div>
                            <div class="detail">
                                <h6>Health Counseling</h6>
                                <span>Cras porttitor mauris pulvinar</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}