{% extends '../origin/base.html' %}
{% load static %}
{% load clinic_tags %}
{% block title %}
   {{ special.title }}
{% endblock %}
{% block content %}
<!--Start Banner-->
<div class="sub-banner">
   <img class="banner-img" src="{% static 'images/sub-banner.jpg' %}" alt="">
   <div class="detail">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="paging">
                  <h2>Size Özel</h2>
                  <ul>
                     <li><a href="{% url 'clinic:home' %}">Ana Sayfa</a></li>
                     <li><a href="{% url 'clinic:specials' %}">Size Özel</a></li>
                     <li>{{special.title}}</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="text-center d-flex">
            <a href="https://wa.me/{{ 'PHONE_WA'|get_const }}" class="btn btn-info btn-lg" style="margin-top:1em">Randevu Al</a>
            <a href="tel:{{ 'PHONE'|get_const }}" class="btn btn-info btn-lg" style="margin-top:1em">Arama Yap</a>
         </div>
      </div>
   </div>
</div>
<!--End Banner-->
<!--Start Content-->
<div class="content">
   <div class="news-posts">
      <div class="container" style="margin-bottom: 1em;">
         <div class="row">
            <div class="col-md-8">
               <div class="news-detail">
                  <video preload="none" autoplay loop muted style="height: 300px; width: 100%; object-fit: cover;">
                     <source src="{% static 'video/banner.mp4' %}" type="video/mp4">
                  </video>
                  <div class="detail">
                     <h1 style="font-size: 3em !important">
                        {{special.title}}
                     </h1>
                     <p>
                        {{special.content|markdown }}
                     </p>
                  </div>
                  <div class="text-center d-flex" style="margin-top:2em">
                     <a href="https://wa.me/{{ 'PHONE_WA'|get_const }}" class="btn btn-info btn-lg" style="margin-top:1em">Randevu Al</a>
                     <a href="tel:{{ 'PHONE'|get_const }}" class="btn btn-info btn-lg" style="margin-top:1em">Arama Yap</a>
                  </div>
               </div>
               <br>
               <br>
               <br>
            </div>      
            {% show_services_sidebar other_services %}
         </div>
      </div>
   </div>
</div>
<!--End Content-->
{% endblock %}