{% extends '../origin/base.html' %}
{% load static %}
{% load clinic_tags %}
{% block title %}
   Size Özel
{% endblock %}
{% block content %}
<!--Start Banner-->
<div class="sub-banner">
   <img class="banner-img" src="{% static 'images/sub-banner.jpg' %}" alt="">
   <div class="detail">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="paging">
                  <h2>Size Özel</h2>
                  <ul>
                     <li><a href="{% url 'clinic:home' %}">Ana Sayfa</a></li>
                     <li>Size Özel</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--End Banner-->
<!--Start Content-->
<div class="content">
   <div class="news-masonary">
      <div class="container">
         <div class="row">
            {% for special in specials %}
               <div class="col-md-4">
                  <div class="border">
                     <div class="news-sec">
                        {% if special.image %}
                           <img src="{{special.image.url}}" alt="">
                        {% endif %}
                        <div class="detail">
                           <h5>{{special.title}}</h5>
                           <p>{{special.content|markdown|striptags|truncatechars:50}}</p>
                           <a href="{{special.get_absolute_url}}">Devamını Oku</a>
                        </div>
                     </div>
                  </div>
               </div>   
            {% endfor %}
         </div>
      </div>
   </div>
</div>
<!--End Content-->
{% endblock %}