{% load clinic_tags %}
<div class="container">
   <div id="page">
      <header class="header">
         <a href="#menu"></a>
      </header>
      <nav id="menu">
         <ul>
            <li class="select">
               <a href="/">Ana Sayfa</a>
            </li>
            <li>
               <a>Tedaviler</a>
               <ul>
                  {% get_header_services as header_services %}
                  {% for service in header_services %}
                     <li>
                        <a href="{{service.get_absolute_url}}">{{ service.title }}</a>
                     </li>
                  {% endfor %}
               </ul>
            </li>
            <li class="parent">
               <a href="#.">Diğer Sayfalar</a>
               <ul class="submenu">
               {% get_header_pages as header_pages %}
               {% for page in header_pages %}
                  <li>
                     <a href="{{ page.get_absolute_url }}">{{ page.menu_name }}</a>
                  </li>
               {% endfor %}
               </ul>
            </li>
         </ul>
      </nav>
   </div>
</div>